/.idea
/node_modules
/dist
/watch
/config/local.yml
/.local
/yarn-error.log
!/openapi/.gitkeep
/openapi/*.yml
.env
temp.ts
temp.json
*.local.json
result.txt
validation.txt
report-*.txt
*.xlsx
/configs/local/*.y*ml